@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  border: 0;
  font-family: "Atkinson Hyperlegible";
}

body {
  min-height: 100vh;
  width: 100vw;
}

@layer utilities {
  .card-front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
  }
  .flipped-front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }
  .card-back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }
  .flipped-back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
}
